*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #0B0F19;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}
nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    background: rgba(0, 0, 0, 0.75);
    backdrop-filter:blur(15px);
    position: fixed;
    top :0;
    left: 0;
    z-index: 1000;
}
.logo{

    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;

    transition: all 0.3s ease;

}
.logo i{

    font-size: 28px;

    color: #00E5FF;

    transition: all 0.3s ease;

}
.logo h2{

    color: white;

    transition: all 0.3s ease;

}
.logo:hover i{

    transform: rotate(-20deg);

    color: #00E5FF;

    text-shadow:
        0 0 10px #00E5FF,
        0 0 20px #00E5FF;

}
.logo:hover h2{

    color: #00E5FF;

    text-shadow:
        0 0 10px #00E5FF,
        0 0 20px #00E5FF;

}

.menu{
    display: flex;
    gap: 35px;
}
.menu a{

    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;

    position: relative;

    transition: all 0.3s ease;

}
.menu a::after{

    content: "";

    position: absolute;

    left: 0;

    bottom: -6px;

    width: 0;

    height: 2px;

    background: #00E5FF;

    transition: width 0.3s ease;

}

.menu a:hover{

    color:#00E5FF;
    transform: translate(-3px);
}
.menu a:hover::after{
    width: 100%;
}
.search-box{
   
    width: 220px;
    height: 40px;

    border: 2px solid transparent;

    outline: none;

    border-radius: 25px;

    padding: 0 15px;

    font-size: 15px;

    transition: all 0.3s ease;

}
.search-box:hover{

    transform: scale(1.05);

    border: 2px solid #00E5FF;

    box-shadow:
        0 0 10px #00E5FF,
        0 0 20px rgba(0,229,255,0.5);

}
.profile{
    width: 45px;
    height: 45px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    cursor: pointer;

    transition: all 0.3s ease;

}
.profile i{
     color: white;

    font-size: 24px;

    transition: all 0.3s ease;


}
.profile:hover{
   background: rgba(0,229,255,0.15);

    box-shadow:
        0 0 10px #00E5FF,
        0 0 20px #00E5FF;

}
.profile:hover i{
    color: #00E5FF;
    transform: scale(1.15);
}
.right-section{
    display: flex;
    align-items: center;
}
.right-section{
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero{
     width: calc(100% - 40px);
    height: 40vh;

    margin: 90px auto 20px;

    border-radius: 10px;
    overflow: hidden;

    position: relative;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.35);
    z-index: 1;
}
.hero-content{
    position: relative;
    z-index: 2;
    max-width: 700px;
    padding-left: 60px;
}
.hero-content h1{
    font-size: 50px;
    margin-bottom: 15px;
    color: white;
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.2);

}
.hero-content p{
    font-size: 22px;
    color: #ddd;
}
.play-btn{
    margin-top: 60px;
    padding: 14px 35px;
    border: none;
    border-radius: 30px;
    background: #00E5FF;
    color: black;
    font-size: 18px;
    cursor: pointer;
    transition:all  0.3s ease;
}
.play-btn:hover{
    transform:translateY(-5px) scale(1.08);
     
    box-shadow:
     0 0 10px #00E5FF,
     0 0 25px  #00E5FF;
}
.hero{
    background-image: url("images/bg.1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat:no-repeat ;
}
.prev{
     position: absolute;
    left: 20px;          /* Pehle agar 0px ya -10px hai to change karo */
    top: 50%;
    transform: translateY(-50%);

    width: 55px;
    height: 55px;

    border: none;
    border-radius: 50%;

    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);

    color: white;
    font-size: 24px;
    cursor: pointer;

    z-index: 10;
}
.next{

    position: absolute;

    right: 25px;

    top: 50%;

    transform: translateY(-50%);

    width: 50px;

    height: 50px;

    border: none;

    border-radius: 50%;

    background: rgba(255,255,255,0.12);

    backdrop-filter: blur(10px);

    color: white;

    font-size: 24px;

    cursor: pointer;

    transition: all 0.3s ease;

    z-index: 10;

}
.prev:hover,
.next:hover
    {
  background: #00E5FF;
  color: black;
  
  box-shadow:
    0 0 15px #00E5FF,
    0 0 30px  #00E5FF;

}
.dots{
    position: absolute;
    bottom: 20px;
    left: 80px;
    transform: translate(-50%);
    display: flex;
    gap: 12px;
    z-index: 10;
    
}
.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background:rgba(225, 255, 255, 0.5);
    cursor: pointer;
    transition: all 0.3s ease;
}
.dot.active{
    background: #00E5FF;
    transform: scale(1.3);
    box-shadow: 
    0 0 10px #00E5FF,
    0 0 20px  #00E5FF;
}
.dot:hover{
    background: white;
    transform: scale(1.2);
}
.games{

    width: calc(100% - 40px);

    margin: 40px auto;

}

.section-title{

    font-size: 32px;

    margin-bottom: 25px;

}

.game-container{

    display: grid;

    grid-template-columns: repeat(4,1fr);

    gap: 25px;

}
.game-card{

    background: #151A28;

    border-radius: 15px;

    overflow: hidden;

    transition: .3s;

    cursor: pointer;

}
.game-card img{

    width:100%;

    height:220px;

    object-fit:cover;

}
.game-card h3{

    padding:15px;

    font-size:22px;

}
.game-card button{

    margin:15px;

    padding:10px 20px;

    border:none;

    border-radius:20px;

    background:#00E5FF;

    cursor:pointer;

}
.game-card:hover{

    transform:translateY(-10px);

    box-shadow:

    0 0 20px #00E5FF;

}
/* ===========================
        FOOTER
=========================== */

.footer{

    background: #090C14;

    margin-top: 70px;

    padding: 60px 80px 20px;

    border-top: 2px solid #00E5FF;

}

.footer-container{

    display: grid;

    grid-template-columns: repeat(4,1fr);

    gap: 40px;

}

.footer-box h2{

    color: #00E5FF;

    margin-bottom: 20px;

}

.footer-box h3{

    color: white;

    margin-bottom: 20px;

}

.footer-box p{

    color: #BFC7D5;

    line-height: 1.8;

}

.footer-box a{

    display: block;

    text-decoration: none;

    color: #BFC7D5;

    margin: 12px 0;

    transition: all .3s ease;

}

.footer-box a:hover{

    color: #00E5FF;

    transform: translateX(8px);

}

/* ===========================
      NEWSLETTER
=========================== */

.newsletter{

    margin-top: 50px;

    text-align: center;

}

.newsletter h3{

    margin-bottom: 20px;

}

.newsletter-box{

    display: flex;

    justify-content: center;

    gap: 15px;

}

.newsletter-box input{

    width: 320px;

    padding: 14px 18px;

    border: none;

    outline: none;

    border-radius: 30px;

    background: #151A28;

    color: white;

    transition: .3s;

}

.newsletter-box input:focus{

    box-shadow: 0 0 15px #00E5FF;

}

.newsletter-box button{

    padding: 14px 30px;

    border: none;

    border-radius: 30px;

    background: #00E5FF;

    cursor: pointer;

    font-weight: 600;

    transition: .3s;

}

.newsletter-box button:hover{

    transform: scale(1.05);

    box-shadow: 0 0 20px #00E5FF;

}

/* ===========================
      FOOTER BOTTOM
=========================== */

.footer-bottom{

    margin-top: 50px;

    border-top: 1px solid #2A3248;

    padding-top: 20px;

    text-align: center;

    color: #888;

}