*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#0B0F19;
color:white;
display:flex;
justify-content:center;
align-items:center;
min-height:100vh;

}

.container{

width:700px;
max-width:95%;

}

h1{

text-align:center;
font-size:42px;
margin-bottom:10px;

}

p{

text-align:center;
color:#aaa;
margin-bottom:35px;

}

.leaderboard{

display:flex;
flex-direction:column;
gap:18px;

}

.player{

display:flex;
justify-content:space-between;
align-items:center;

padding:18px 25px;

background:#171C2B;

border-radius:15px;

transition:.3s;

}

.player:hover{

transform:translateY(-4px);

box-shadow:0 0 20px rgba(0,229,255,.25);

}

.gold{

border-left:6px solid gold;

}

.silver{

border-left:6px solid silver;

}

.bronze{

border-left:6px solid #CD7F32;

}

.rank{

font-size:22px;

}

.name{

font-size:18px;
font-weight:600;

}

.score{

color:#00E5FF;
font-weight:bold;

}

.back-btn{

display:inline-block;

margin-top:35px;

text-decoration:none;

background:#00E5FF;

color:black;

padding:14px 28px;

border-radius:12px;

font-weight:600;

transition:.3s;

}

.back-btn:hover{

transform:scale(1.05);

}