*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:url("./images/1.imge.jpg");

background-size:cover;

background-position:center;

overflow:hidden;

}

.overlay{

position:absolute;

width:100%;

height:100%;

background:rgba(0,0,0,.20);

backdrop-filter:blur(1px);

}

.login-box{

position:relative;

z-index:2;

width:400px;

padding:40px;

border-radius:20px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

border:2px solid rgba(255,255,255,.2);

box-shadow:

0 0 20px #00d9ff,

0 0 50px rgba(0,217,255,.3);

animation:popup .8s ease;

}

@keyframes popup{

from{

opacity:0;

transform:translateY(60px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.login-box h1{

text-align:center;

color:#fff;

margin-bottom:8px;

}

.login-box p{

text-align:center;

color:#bbb;

margin-bottom:30px;

}

.input-box{

display:flex;

align-items:center;

margin-bottom:20px;

padding:12px;

border-radius:12px;

background:rgba(255,255,255,.1);

border:1px solid rgba(255,255,255,.2);

}

.input-box i{

color:#00d9ff;

margin-right:12px;

}

.input-box input{

width:100%;

background:none;

border:none;

outline:none;

color:white;

font-size:15px;

}

.input-box input::placeholder{

color:#ddd;

}

.eye{

cursor:pointer;

}

.options{

display:flex;

justify-content:space-between;

font-size:14px;

margin-bottom:25px;

color:white;

}

.options a{

color:#00d9ff;

text-decoration:none;

}

.login-btn{

width:100%;

padding:15px;

border:none;

border-radius:12px;

background:linear-gradient(90deg,#00c6ff,#7b2ff7);

color:white;

font-size:16px;

font-weight:bold;

cursor:pointer;

transition:.4s;

}

.login-btn:hover{

transform:translateY(-4px);

box-shadow:

0 0 20px #00c6ff,

0 0 40px #7b2ff7;

}

.or{

margin:20px 0;

text-align:center;

color:white;

}

.google-btn{

width:100%;

padding:14px;

border:none;

border-radius:12px;

background:white;

font-size:15px;

cursor:pointer;

transition:.4s;

}

.google-btn:hover{

background:#eee;

}

.google-btn i{

color:red;

margin-right:8px;

}